# Dependencies
node_modules/

# Build outputs
dist/
build/
.out/
.next/

# Environment
.env
.env.local

# OS / editor junk
.DS_Store
.vscode/
.idea/

# Logs
npm-debug.log*
yarn-debug.log*

# Local Netlify folder
.netlify

*storybook.log
storybook-static
